.floating-left {
    animation: float-left 6s ease-in-out infinite;
  }
  .floating-right {
    animation: float-right 6s ease-in-out infinite;
  }
  
  @keyframes float-left {
    0%, 100% {
      transform: translateY(-50%) translateX(0px);
    }
    50% {
      transform: translateY(-50%) translateX(-10px);
    }
  }
  
  @keyframes float-right {
    0%, 100% {
      transform: translateY(-50%) translateX(0px);
    }
    50% {
      transform: translateY(-50%) translateX(10px);
    }
  }
  